{% extends "base.html" %}

{% block  content %}

    <div id="main">
        <div class="container">
            <article id="main-col">
                <h1 class="page-title">About Us</h1>
                <p class="blue">
                    We are meme enthusiast who dedicate our lives to history and communism memes.
                </p>
                <p class="blue">
                    We made a webbsite to share all of our favorite communism and History memes to all of the people.
                </p>
            </article>
            <aside id="sidebar">
                <div class="blue">
                    <h3>Support mail</h3>
                    <p>Mail: service@memebuff.se</p>
                </div>
            </aside>
        </div>
    </div>


{% endblock %}
