{% extends "base.html" %}

{%  block content %}


      <div id="main">
        <div class="container">
          <article id="main-col">
            <ul id="memes">
              <li>
                <h3>weekly Memes</h3>
                <p>Our team sending you 10 memes personally.</p>
                <p>pricing: 40sek per month. </p>
                  <p>contact for payment</p>
              </li>
              <li>
                <h3>Meme Design Course</h3>
                <p>pricing: 200sek</p>
                  <p>contact for payment</p>
              </li>
            </ul>
          </article>

          <aside id="sidebar">
            <div class="blue">
            <h3>Trending</h3>
            <p>Weekly</p>
            <form class="quote"></form>
              <div>
                <label>High Quality memes</label><br>
                  <p>contact: memebuff@meme.se</p>
              </div>
          </div>
          </aside>
        </div>
      </div>


  {% endblock %}
