{% extends "base.html" %}

{%  block content %}



      <div id="main">
        <div class="container">
          <article id="main-col">
            <ul id="memes">
              <li>
                <h3>Daily Memes</h3>
                <p>Sends the best Daily Memes into your mailbox.</p>
                <p>pricing: 1000sek per month. </p>
              </li>
              <li>
                <h3>Meme Design Course</h3>
                <p>Sends you a video course into your mailbox to show you how to create the best memes.</p>
                <p>pricing: 1050sek</p>
              </li>
              <li>
                <h3>Monthly Premium Memes </h3>
                <p>Sends you the best Premium History Memes into your Mailbox everyday.</p>
                <p>pricing: 2000sek per month </p>
              </li>
            </ul>
          </article>

          <aside id="sidebar">
            <div class="blue">
            <h3>Support</h3>
            <p>Contact us</p>
            <form class="quote">
            </form>
              <div>
                <label>Name</label><br>
                <input type="text" placeholder="Name">
              </div>
              <div>
                <label>Email</label><br>
                <input type="text" placeholder="Email Address">
              </div>
              <div>
                <label>Message</label><br>
                <textarea placeholder="Message"></textarea>
              </div>
              <button class="button_1" type="submit">Send</button>
          </div>

          </aside>
        </div>
      </div>

  {% endblock %}
